//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
// Extra small screen / phone
$screen-xxs:                 375px !default;
$screen-xxs-min:             $screen-xxs !default;
$screen-sm-phone:            $screen-xxs-min !default;

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;
// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;
// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;
// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// XLarge screen / wide desktop
$screen-xl:                  1400px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;// Screens

// Container - class using these found in grid.scss
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:             30px !default;
// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;
// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;
// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;

.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

}
.container-fluid {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    max-width: $container-sm - 75;
  }
  @media (min-width: $screen-md-min) {
    max-width: $container-md - 225;
  }
  @media (min-width: $screen-lg-min) {
    max-width: $container-lg - 225;
  }

  &.ad {
    padding: 0px;
  }
}
.container-flush {
  &--all {
    padding: 0;
  }
  &--sm {
    @include respond-to(sm-and-down) {
      width: 100% !important;
      padding: 0 !important;
    }
  }
}

.container-custom {
  padding: 0 1em;
  max-width: 75em;
  margin: 0 auto;
  @include respond-to(xl) {
    padding: 0;
  }
}
.clearfix {
  @include clearfix;
}
